
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestMaker</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="left-side side">
            <div class="big-image">
                <svg width="100%" height="382" viewBox="0 0 616 382" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.31" d="M593.715 347.72C592.513 347.736 585.12 337.852 583.703 336.483C572.123 325.277 565.175 312.965 559.954 299.571C555.975 289.36 553.007 278.512 549.767 267.067C547.579 259.348 544.053 250.72 536.413 248.285C528.979 245.921 520.973 250.824 516.405 257.143C511.828 263.462 509.528 271.126 505.621 277.875C498.53 290.108 485.979 295.233 475.601 284.481C460.782 269.121 454.104 248.174 444.705 229.439C437.885 215.837 432.17 199.912 423.575 187.369C410.467 168.253 392.489 151.945 368.589 151.945C353.435 154.237 340.089 167.664 331.048 184.433C322.015 201.202 316.738 221.154 312.249 241.051C308.485 257.74 305.182 274.612 302.126 291.572C296.444 271.134 290.53 250.848 284.132 230.911C277.2 209.319 269.543 187.807 258.911 170.529C248.278 153.251 234.199 140.509 220.064 140.596C198.282 144.814 184.227 166.319 175.01 190.147C168.97 205.77 166.041 224.696 161.759 241.202C155.87 263.94 152.782 288.675 141.465 308.58C133.546 322.507 121.369 318.958 113.164 306.439C108.635 299.531 105.444 291.317 100.374 285.014C95.3046 278.711 87.3061 274.604 80.8755 278.576C74.2619 282.658 72.2802 292.997 71.3888 302.062C70.0677 315.52 68.9137 328.238 66.741 340.43C66.2714 343.089 65.7461 345.715 65.1652 348.317H292.592C292.432 349.288 292.273 350.267 292.122 351.238L593.715 347.72Z" fill="#DCE6EF"/>
                    <path d="M394.558 335.662H176.348C171.541 335.662 167.633 331.755 167.633 326.947V33.2738C167.633 28.4667 171.541 24.559 176.348 24.559H241.569V26.9466H176.348C172.862 26.9466 170.02 29.7879 170.02 33.2738V326.947C170.02 330.433 172.862 333.275 176.348 333.275H394.558C398.044 333.275 400.885 330.433 400.885 326.947V33.2738C400.885 29.7879 398.044 26.9466 394.558 26.9466H329.353V24.559H394.558C399.365 24.559 403.273 28.4667 403.273 33.2738V326.947C403.273 331.747 399.365 335.662 394.558 335.662Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M385.454 320.223H185.453C183.758 320.223 182.381 318.846 182.381 317.151V43.0708C182.381 41.3756 183.758 39.9987 185.453 39.9987H385.454C387.149 39.9987 388.526 41.3756 388.526 43.0708V317.151C388.526 318.846 387.149 320.223 385.454 320.223Z" fill="#F2F2F2"/>
                    <path d="M330.387 48.1326H240.518V18.7254H266.535C266.71 8.44287 275.13 0.126068 285.453 0.126068C295.775 0.126068 304.195 8.44287 304.37 18.7254H330.387V48.1326ZM242.906 45.745H328V21.113H301.879L301.959 19.5372C301.967 19.378 301.983 19.2109 301.983 19.0438C301.983 9.93113 294.565 2.51366 285.453 2.51366C276.34 2.51366 268.922 9.93113 268.922 19.0438C268.922 19.2109 268.938 19.378 268.946 19.5372L269.026 21.113H242.906V45.745Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M285.453 30.1938C279.309 30.1938 274.303 25.1958 274.303 19.0437C274.303 12.8917 279.301 7.89366 285.453 7.89366C291.605 7.89366 296.603 12.8917 296.603 19.0437C296.603 25.1958 291.597 30.1938 285.453 30.1938ZM285.453 10.2892C280.622 10.2892 276.691 14.2208 276.691 19.0517C276.691 23.8826 280.622 27.8141 285.453 27.8141C290.284 27.8141 294.216 23.8826 294.216 19.0517C294.216 14.2208 290.284 10.2892 285.453 10.2892Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M599.287 381.744H16.7132C7.48114 381.744 0 374.263 0 365.031C0 355.799 7.48114 348.318 16.7132 348.318H599.287C608.519 348.318 616 355.799 616 365.031C616 374.263 608.519 381.744 599.287 381.744Z" fill="#D3D3D3"/>
                    <path d="M242.803 117.795H208.366V83.3577H242.803V117.795ZM209.162 116.999H242.007V84.1536H209.162V116.999Z" fill="#0B4870"/>
                    <path d="M226.718 110.202L215.338 101.265L217.303 98.7658L226.504 105.984L246.424 86.796L248.629 89.0881L226.718 110.202Z" fill="#0B4870"/>
                    <path d="M368.167 93.3059H258.553C257.836 93.3059 257.255 92.7249 257.255 92.0086C257.255 91.2923 257.836 90.7113 258.553 90.7113H368.167C368.884 90.7113 369.465 91.2923 369.465 92.0086C369.465 92.7249 368.884 93.3059 368.167 93.3059Z" fill="#0B4870"/>
                    <path d="M368.167 99.0204H258.553C257.836 99.0204 257.255 98.4394 257.255 97.723C257.255 97.0067 257.836 96.4257 258.553 96.4257H368.167C368.884 96.4257 369.465 97.0067 369.465 97.723C369.465 98.4394 368.884 99.0204 368.167 99.0204Z" fill="#0B4870"/>
                    <path d="M368.167 104.727H258.553C257.836 104.727 257.255 104.146 257.255 103.429C257.255 102.713 257.836 102.132 258.553 102.132H368.167C368.884 102.132 369.465 102.713 369.465 103.429C369.465 104.146 368.884 104.727 368.167 104.727Z" fill="#0B4870"/>
                    <path d="M368.167 110.441H258.553C257.836 110.441 257.255 109.86 257.255 109.144C257.255 108.427 257.836 107.846 258.553 107.846H368.167C368.884 107.846 369.465 108.427 369.465 109.144C369.465 109.86 368.884 110.441 368.167 110.441Z" fill="#0B4870"/>
                    <path d="M242.803 171.953H208.366V137.517H242.803V171.953ZM209.161 171.158H242.007V138.312H209.161V171.158Z" fill="#0B4870"/>
                    <path d="M226.718 164.361L215.338 155.423L217.303 152.924L226.504 160.143L246.424 140.954L248.629 143.246L226.718 164.361Z" fill="#0B4870"/>
                    <path d="M368.167 147.464H258.553C257.836 147.464 257.255 146.883 257.255 146.167C257.255 145.451 257.836 144.87 258.553 144.87H368.167C368.884 144.87 369.465 145.451 369.465 146.167C369.465 146.883 368.884 147.464 368.167 147.464Z" fill="#0B4870"/>
                    <path d="M368.167 153.179H258.553C257.836 153.179 257.255 152.598 257.255 151.882C257.255 151.165 257.836 150.584 258.553 150.584H368.167C368.884 150.584 369.465 151.165 369.465 151.882C369.465 152.598 368.884 153.179 368.167 153.179Z" fill="#0B4870"/>
                    <path d="M368.167 158.885H258.553C257.836 158.885 257.255 158.304 257.255 157.588C257.255 156.872 257.836 156.291 258.553 156.291H368.167C368.884 156.291 369.465 156.872 369.465 157.588C369.465 158.304 368.884 158.885 368.167 158.885Z" fill="#0B4870"/>
                    <path d="M368.167 164.6H258.553C257.836 164.6 257.255 164.019 257.255 163.302C257.255 162.586 257.836 162.005 258.553 162.005H368.167C368.884 162.005 369.465 162.586 369.465 163.302C369.465 164.019 368.884 164.6 368.167 164.6Z" fill="#0B4870"/>
                    <path d="M242.803 226.112H208.366V191.675H242.803V226.112ZM209.161 225.316H242.007V192.471H209.161V225.316Z" fill="#0B4870"/>
                    <path d="M226.718 218.52L215.338 209.582L217.303 207.083L226.504 214.301L246.424 195.113L248.629 197.405L226.718 218.52Z" fill="#0B4870"/>
                    <path d="M368.167 201.623H258.553C257.836 201.623 257.255 201.042 257.255 200.326C257.255 199.61 257.836 199.029 258.553 199.029H368.167C368.884 199.029 369.465 199.61 369.465 200.326C369.465 201.042 368.884 201.623 368.167 201.623Z" fill="#0B4870"/>
                    <path d="M368.167 207.338H258.553C257.836 207.338 257.255 206.757 257.255 206.04C257.255 205.324 257.836 204.743 258.553 204.743H368.167C368.884 204.743 369.465 205.324 369.465 206.04C369.465 206.757 368.884 207.338 368.167 207.338Z" fill="#0B4870"/>
                    <path d="M368.167 213.044H258.553C257.836 213.044 257.255 212.463 257.255 211.747C257.255 211.03 257.836 210.45 258.553 210.45H368.167C368.884 210.45 369.465 211.03 369.465 211.747C369.465 212.463 368.884 213.044 368.167 213.044Z" fill="#0B4870"/>
                    <path d="M368.167 218.758H258.553C257.836 218.758 257.255 218.177 257.255 217.461C257.255 216.745 257.836 216.164 258.553 216.164H368.167C368.884 216.164 369.465 216.745 369.465 217.461C369.465 218.177 368.884 218.758 368.167 218.758Z" fill="#0B4870"/>
                    <path d="M242.803 280.271H208.366V245.834H242.803V280.271ZM209.161 279.475H242.007V246.63H209.161V279.475Z" fill="#0B4870"/>
                    <path d="M226.718 272.678L215.338 263.741L217.303 261.242L226.504 268.46L246.424 249.272L248.629 251.564L226.718 272.678Z" fill="#0B4870"/>
                    <path d="M368.167 255.782H258.553C257.836 255.782 257.255 255.201 257.255 254.485C257.255 253.768 257.836 253.187 258.553 253.187H368.167C368.884 253.187 369.465 253.768 369.465 254.485C369.465 255.201 368.884 255.782 368.167 255.782Z" fill="#0B4870"/>
                    <path d="M368.167 261.496H258.553C257.836 261.496 257.255 260.915 257.255 260.199C257.255 259.483 257.836 258.902 258.553 258.902H368.167C368.884 258.902 369.465 259.483 369.465 260.199C369.465 260.915 368.884 261.496 368.167 261.496Z" fill="#0B4870"/>
                    <path d="M368.167 267.203H258.553C257.836 267.203 257.255 266.622 257.255 265.905C257.255 265.189 257.836 264.608 258.553 264.608H368.167C368.884 264.608 369.465 265.189 369.465 265.905C369.465 266.622 368.884 267.203 368.167 267.203Z" fill="#0B4870"/>
                    <path d="M368.167 272.917H258.553C257.836 272.917 257.255 272.336 257.255 271.62C257.255 270.903 257.836 270.322 258.553 270.322H368.167C368.884 270.322 369.465 270.903 369.465 271.62C369.465 272.336 368.884 272.917 368.167 272.917Z" fill="#0B4870"/>
                    <path d="M373.715 217.365C375.497 216.1 377.137 214.636 377.893 214.206C378.211 214.031 379.198 213.808 379.477 213.72C380.304 213.474 381.626 213.219 382.199 212.574L384.65 209.884C385.812 208.563 387.332 208.125 388.645 209.287C390.07 210.545 389.648 212.336 388.231 213.609L386.552 215.519C385.422 216.538 384.857 217.97 384.228 219.355C382.955 222.18 380.066 224.305 377.599 225.794C376.047 226.725 373.699 226.064 370.619 225.014C369.107 224.496 366.918 223.247 368.804 222.539C370.388 221.95 375.147 223.231 377.248 218.846C377.352 218.631 377.575 218.058 377.36 217.859C376.723 217.262 375.314 218.615 374.375 219.045C373.054 219.65 371.996 219.443 371.669 218.957C371.319 218.448 372.441 218.273 373.715 217.365Z" fill="#FAB9AF"/>
                    <path d="M440.695 121.153C440.695 121.153 436.764 168.348 422.653 184.273C414.153 193.872 393.357 210.33 388.542 214.102C387.929 214.58 387.069 214.604 386.433 214.158C386.027 213.872 385.565 213.521 385.167 213.171C384.762 212.813 384.292 212.296 383.87 211.802C383.17 210.983 383.202 209.765 383.934 208.977C389.33 203.112 410.5 179.864 413.079 173.752C416.031 166.741 421.117 125.348 425.788 119.355C430.46 113.346 439.414 112.049 440.695 121.153Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M422.876 199.116L434.909 114.595L467.357 110.138L484.237 198.511L422.876 199.116Z" fill="#FAB9AF"/>
                    <path d="M447.961 330.092L447.929 339.618C447.921 341.56 448.184 343.486 448.709 345.348L449.537 348.285C450.213 350.697 448.407 353.084 445.9 353.076C439.414 353.052 428.319 353.068 425.462 353.076C424.993 353.076 424.539 352.758 424.499 352.296C424.26 349.519 432.291 347.648 438.347 345.309C442.955 343.526 442.708 335.241 442.143 330.402C441.928 328.571 443.457 327.02 445.287 327.171C446.799 327.298 447.969 328.572 447.961 330.092Z" fill="#FAB9AF"/>
                    <path d="M492.561 327.418L495.84 338.314C495.984 338.799 496.199 339.253 496.485 339.667L498.809 343.121C500.289 345.317 499.223 348.31 496.692 349.082C496.692 349.082 491.996 350.729 487.165 352.321C482.215 353.944 475.983 352.591 475.983 351.278C475.983 348.373 478.689 350.681 483.226 347.649C484.746 346.63 486.314 345.572 487.715 344.474C491.614 341.41 488.208 333.658 485.82 329.288C484.961 327.721 485.876 325.771 487.627 325.397L488.757 325.158C490.413 324.816 492.068 325.795 492.561 327.418Z" fill="#FAB9AF"/>
                    <path d="M459.032 199.936L423.066 196.92C423.066 196.92 419.445 223.096 428.534 270.474C432.8 292.694 441.682 335.153 441.682 335.153C443.886 336.116 446.123 336.355 448.399 335.79C448.399 335.79 449.075 317.063 449.489 296.888C449.887 277.549 449.991 256.88 451.224 250.115C453.739 236.299 459.032 199.936 459.032 199.936Z" fill="#0B4870"/>
                    <path d="M451.606 200.39C447.889 220.318 439.597 250.115 455.578 278.106C471.551 306.096 488.335 335.201 488.335 335.201C490.5 335.289 492.458 334.509 494.281 333.124C494.281 333.124 491.479 320.438 487.428 305.619C482.796 288.667 476.931 268.731 478.602 258.337C481.738 238.854 485.335 212.909 484.245 200.302C483.146 187.696 453.556 189.916 451.606 200.39Z" fill="#0B4870"/>
                    <path d="M421.634 196.967L434.909 114.595L467.364 110.138L484.801 197.119C485.128 198.75 484.069 200.342 482.43 200.652C476.389 201.798 461.817 204.186 445.502 204.186C433.325 204.186 426.481 201.822 423.369 200.318C422.111 199.713 421.411 198.352 421.634 196.967Z" fill="#F2F2F2"/>
                    <path d="M485.869 228.85C486.362 226.725 486.633 224.536 486.911 223.717C487.031 223.374 487.627 222.555 487.779 222.3C488.24 221.568 489.06 220.501 489.06 219.642L489.124 216.005C489.124 214.246 489.975 212.917 491.726 212.917C493.628 212.917 494.495 214.54 494.272 216.434V218.981C494.097 220.493 494.623 221.942 495.068 223.398C495.976 226.359 495.22 229.861 494.352 232.614C493.811 234.341 491.606 235.4 488.606 236.641C487.134 237.254 484.659 237.764 485.606 235.989C486.402 234.501 490.819 232.32 489.498 227.632C489.434 227.401 489.227 226.82 488.933 226.812C488.057 226.789 487.898 228.73 487.476 229.678C486.887 231.007 485.956 231.548 485.383 231.405C484.786 231.245 485.511 230.37 485.869 228.85Z" fill="#FAB9AF"/>
                    <path d="M457.225 115.272C457.225 121.209 458.307 127.083 460.329 132.662C464.292 143.573 470.245 164.202 466.704 182.379C461.618 208.555 455.068 219.132 463.552 225.237C472.036 231.333 488.304 221.162 488.773 217.764C489.243 214.373 485.606 172.694 481.491 154.635C477.368 136.577 465.828 110.616 465.828 110.616L460.942 111.141C458.825 111.364 457.225 113.147 457.225 115.272Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M472.474 112.383C472.474 112.383 500.743 150.386 500.688 171.659C500.656 184.481 495.944 210.577 494.83 216.594C494.687 217.358 494.066 217.947 493.286 218.026C492.793 218.082 492.212 218.122 491.686 218.122C491.153 218.122 490.453 218.042 489.808 217.955C488.742 217.803 487.962 216.872 487.986 215.79C488.153 207.823 488.662 176.387 486.545 170.091C484.118 162.873 460.56 128.476 460.098 120.883C459.629 113.298 465.494 106.398 472.474 112.383Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M443.711 113.386C443.711 113.386 438.084 125.547 440.042 143.024C442.008 160.501 446.552 213.72 430.651 221.759C425.613 224.305 414.113 213.036 414.113 208.85C414.113 204.663 417.949 190.672 421.586 177.946C425.223 165.22 433.986 114.715 433.986 114.715L443.711 113.386Z" fill="#D3B078" fill-opacity="0.98"/>
                    <path d="M448.24 75.6856C455.482 75.6856 458.188 80.8428 458.323 90.3773C458.379 93.9508 456.772 97.4844 455.474 99.7447C454.511 101.424 454.249 103.414 454.798 105.268L456.39 110.648C457.472 115.638 455.1 118.384 451.598 119.379C449.863 119.872 447.786 119.49 446.274 118.511C444.475 117.349 444.324 114.842 444.658 112.725L445.072 111.189C445.629 109.12 444.428 106.892 442.334 106.438C436.755 105.22 435.96 99.4025 434.463 90.3773C432.903 80.9702 440.997 75.6856 448.24 75.6856Z" fill="#FAB9AF"/>
                    <path d="M431.375 71.4993L435.53 72.7647C437.058 73.2263 438.682 73.2423 440.218 72.7966L448.51 70.3931C453.532 70.3931 461.833 73.2263 460.783 80.4767L459.859 85.6021C459.493 87.6474 457.782 89.1835 455.705 89.3586C455.514 90.0669 454.869 90.5603 454.137 90.5603C453.238 90.5603 452.514 89.8361 452.514 88.9367C452.514 86.6208 450.89 84.655 448.638 84.1456C445.868 83.5248 442.916 83.3736 439.82 84.2093C434.058 85.7612 427.977 82.1878 427.404 76.2427C427.364 75.8686 427.348 75.4866 427.348 75.0966C427.34 72.6931 429.322 70.9343 431.375 71.4993Z" fill="#0B4870"/>
                    <path d="M454.336 90.5521C454.336 92.7645 455.156 94.5551 457.289 94.5551C459.422 94.5551 460.783 91.515 460.783 89.3026C460.783 87.0902 459.414 86.549 457.289 86.549C455.156 86.549 454.336 88.3476 454.336 90.5521Z" fill="#FAB9AF"/>
                    <path d="M455.212 100.262C455.212 100.262 449.8 107.695 443.075 106.693C443.075 106.693 444.475 107.361 444.81 108.443C444.81 108.443 451.2 107.974 455.212 100.262Z" fill="#E8948B"/>
                    <path d="M448.923 346.097C448.923 346.097 443.894 348.317 439.206 344.863C439.206 344.863 427.634 346.717 424.315 350.14C420.997 353.562 423.4 355.257 427.57 355.185C431.733 355.114 447.825 354.946 447.825 354.946C447.825 354.946 451.956 352.424 448.923 346.097Z" fill="#0B4870"/>
                    <path d="M497.28 340.478C497.28 340.478 494.829 343.701 489.338 341.791C489.338 341.791 477.129 347.37 474.973 351.62C472.816 355.87 475.609 356.777 479.573 355.48C483.536 354.183 498.848 349.264 498.848 349.264C498.848 349.264 502.048 345.619 497.28 340.478Z" fill="#0B4870"/>
                    </svg>
            </div>
            <p class="login-headline">Experience the procces of creating and solving a test like never before.</p>    
        </div>
        <div class="right-side side">
            <img src="/images/Logo.svg" alt="">

            <form action="" class="login_form">
                <div class="login_form-container">
                    <p class="placeholder">Username</p>
                    <input type="text" class="input">
                </div>
                <div class="login_form-container">
                    <p class="placeholder">Password</p>
                    <input type="text" class="input">
                </div>
                <button id="login_btn" class="btn">Log In</button>
            </form>

            <h3 class="subheading">Don’t have an account ? <a asp-controller="LogIn" asp-action="Signup">Sign up now.</a></h3>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js" integrity="sha512-kVlGhj2qFy+KBCFuvjBJTGUMxbdqJKs4yK2jh0e0VPhWUPiPC87bzm4THmaaIee3Oj7j6sDpTTgm2EPPiESqBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" ></script>
</body>
</html>

