@{
    ViewData["Title"] = "Signup";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" 
rel="stylesheet">

</head>
<body>
    
    <div class="signup_main">
        <div class="signup_main_box">
            <form action="" class="signup_form">
                <div class="signup_form-container">
                    <p class="placeholder">Username</p>
                    <input type="text" class="signup_input">
                </div>
                <div class="signup_form-container">
                    <p class="placeholder">E-mail</p>
                    <input type="text" class="signup_input">
                </div>
                <div class="signup_form-container">
                    <p class="placeholder">Password</p>
                    <input type="text" class="signup_input">
                </div>
                <button id="signup_btn" class="btn">Sign up</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js" integrity="sha512-kVlGhj2qFy+KBCFuvjBJTGUMxbdqJKs4yK2jh0e0VPhWUPiPC87bzm4THmaaIee3Oj7j6sDpTTgm2EPPiESqBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" ></script>
</body>
</html>