@model Question
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Question</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="QuestionText"></label>
            <input asp-for="QuestionText" class="form-control" />
            <span asp-validation-for="QuestionText" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Difficulty"></label>
            <input asp-for="Difficulty" class="form-control" />
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Question" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
        <a asp-controller="Question" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Add options to your questions
        </a>
    </div>
</form>

